@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('sans-serif');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('sans-serif');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('sans-serif');
}

html {
  background-color: #fff;
  color: #292929;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.result-header {
  font-size: 180%;
  font-weight: 300;
  text-decoration: none;
}

.result-header:hover {
  color: #16a085;
}

.result-source {
  font-weight: 400;
}

.nav-link:hover {
  color: #b0eade;
}

.page-title {
  color: #16a085;
  font-weight: 300;
  font-size: 250%;
}

.tag-instructions {
  color: #696969;
  font-size: 50%;
}

.validationError {
  color: red;
  font-size: 50%;
}
